#!/bin/bash
set -euo pipefail

if command -v code >/dev/null 2>&1; then
    echo "[dotfiles] Installing VSCode extensions"

    {{ range .vscode -}}
    code --force --install-extension {{ . | quote }}
    {{ end -}}
fi
