#!/bin/bash
set -euo pipefail

{{- $common := .repos.common | default (list) -}}
{{- $machine := index .repos .machine | default (list) -}}
{{ range concat $common $machine }}
if [ ! -d "{{ .path }}" ]; then
    echo "[dotfiles] Cloning {{ .name }}..."
    git clone git@github.com:{{ $.personal.github }}/{{ .name }}.git ~/{{ .path }}
else
    echo "[dotfiles] {{ .name }} already exists, skipping"
fi

{{ end -}}
