#!/bin/bash
set -euo pipefail

echo "[dotfiles] Setting up Dock"

defaults write com.apple.dock autohide -bool true
defaults write com.apple.dock autohide-delay -float 0
defaults write com.apple.dock autohide-time-modifier -float 1
defaults write com.apple.dock enable-spring-load-actions-on-all-items -bool true
defaults write com.apple.dock expose-group-by-app -bool false
defaults write com.apple.dock launchanim -bool true
defaults write com.apple.dock minimize-to-application -bool false
defaults write com.apple.dock mouse-over-hilite-stack -bool true
defaults write com.apple.dock mru-spaces -bool false
defaults write com.apple.dock orientation left
defaults write com.apple.dock showhidden -bool true
defaults write com.apple.dock show-process-indicators -bool true
defaults write com.apple.dock show-recents -bool false
defaults write com.apple.dock showDesktopGestureEnabled -int 0
defaults write com.apple.dock showLaunchpadGestureEnabled -int 0
defaults write com.apple.dock showMissionControlGestureEnabled -int 0
defaults write com.apple.dock tilesize -int 42
defaults write com.apple.dock workspaces-auto-swoosh -bool false

echo "[dotfiles] Setting up Dock applications"

{{ $dock := index .dock .machine -}}
{{ $add := index $dock "add" | default list -}}
{{ $remove := index $dock "remove" | default list -}}
{{ $launchpad := index $dock "launchpad" | default false -}}
{{ if eq $dock.mode "replace" -}}
dockutil --no-restart --remove all
{{ if $launchpad -}}
dockutil --no-restart --add "/System/Applications/Launchpad.app"
{{ end -}}
{{ range $dock.apps -}}
dockutil --no-restart --add "/Applications/{{ . }}.app"
{{ end -}}
{{ else if eq $dock.mode "manage" -}}
existing=$(dockutil --list | cut -f 1)
{{ if $launchpad -}}
if ! echo "$existing" | grep -qF "Launchpad"; then
    dockutil --no-restart --add "/System/Applications/Launchpad.app"
fi
{{ end -}}
{{ range $remove -}}
if echo "$existing" | grep -qF "{{ . }}"; then
    dockutil --no-restart --remove "{{ . }}"
fi
{{ end -}}
{{ range $add -}}
if ! echo "$existing" | grep -qF "{{ . }}"; then
    dockutil --no-restart --add "/Applications/{{ . }}.app"
fi
{{ end -}}
{{ end }}
killall Dock
