#!/bin/bash
# weekly: {{ now | date "2006-W01" }}
set -euo pipefail

eval "$(/opt/homebrew/bin/brew shellenv)"

echo "[dotfiles] Syncing repos"

#shellcheck disable=1090,1073,1054,1009,1036,1056,1072
{{- $repos := concat .repos.common (index .repos .machine) }}
printf '%s\n' \
{{- range $repos }}
  {{ . | squote }} \
{{- end }}
| ghq get --parallel --silent
