#!/bin/bash
set -euo pipefail

eval "$(/opt/homebrew/bin/brew shellenv)"

echo "[dotfiles] Syncing repos"

{{- $repos := .reposCommon -}}
{{- if eq .machine "personal" -}}
{{- $repos = concat $repos .reposPersonal -}}
{{- else if eq .machine "work" -}}
{{- $repos = concat $repos .reposWork -}}
{{- end }}
printf '%s\n' \
{{- range $repos }}
  {{ . | squote }} \
{{- end }}
| ghq get --parallel
