#!/bin/bash
set -euo pipefail

eval "$(/opt/homebrew/bin/brew shellenv)"

{{ $trust := concat (.trust.common | default (list)) (index .trust .machine | default (list)) -}}
{{ range $trust | sortAlpha | uniq -}}
brew trust --formula {{ . | quote }}
{{ end -}}
echo "[dotfiles] Installing packages"

brew bundle --cleanup --force --file=/dev/stdin <<EOF
{{ $brews := concat (.brews.common | default (list)) (index .brews .machine | default (list)) -}}
{{ $casks := concat (.casks.common | default (list)) (index .casks .machine | default (list)) -}}
{{- range $brews | sortAlpha | uniq -}}
brew {{ . | quote }}
{{ end -}}
{{ range $casks | sortAlpha | uniq -}}
cask {{ . | quote }}
{{ end -}}
EOF
