# TODO: https://blog.lftechnology.com/command-line-productivity-with-zsh-aliases-28b7cebfdff9
# TODO: https://github.com/broucz/dotfiles/blob/master/shell/.config/fish/config.fish
# TODO: https://github.com/twpayne/dotfiles/blob/master/private_dot_config/git/config.tmpl

# antigen

[[ ! -d "$HOME/.antigen" ]] && git clone https://github.com/zsh-users/antigen.git "$HOME/.antigen"
source "$HOME/.antigen/antigen.zsh"

antigen use oh-my-zsh

antigen bundle 1password                            # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/1password
antigen bundle chezmoi                              # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/chezmoi
antigen bundle djui/alias-tips                      # https://github.com/djui/alias-tips
antigen bundle gh                                   # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/gh
antigen bundle git                                  # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/git
antigen bundle golang                               # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/golang
antigen bundle lukechilds/zsh-better-npm-completion # https://github.com/lukechilds/zsh-better-npm-completion
antigen bundle npm                                  # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/npm
antigen bundle ssh                                  # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/ssh
antigen bundle z                                    # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/z
antigen bundle zlsun/solarized-man                  # https://github.com/zlsun/solarized-man
antigen bundle zpm-zsh/undollar                     # https://github.com/zpm-zsh/undollar
antigen bundle zsh-users/zsh-syntax-highlighting    # https://github.com/zsh-users/zsh-syntax-highlighting

antigen theme agnoster
antigen apply

# aliases
alias weather="curl 'wttr.in/Barcelona?m'"

# list all global npm packages
alias npmg="npm list -g --depth 0"

# list all `node_modules` in a directory
alias nodels="find . -name 'node_modules' -type d -prune | xargs du -chs"

# remove all `node_modules` in a directory
alias noderm="find . -name 'node_modules' -type d -prune -exec rm -rf '{}' +"
