sh:**/.*
sh:/Users/leonh/bin
sh:/Users/leonh/Desktop
sh:/Users/leonh/Documents
sh:/Users/leonh/Downloads
sh:/Users/leonh/go
sh:/Users/leonh/leonhfr
sh:/Users/leonh/Library
sh:/Users/leonh/Movies
sh:/Users/leonh/Music
sh:/Users/leonh/Public
sh:/Users/leonh/uz
