@intellizoomplatform:registry=https://npm.pkg.github.com/
@userzoomlibraries:registry=https://npm.pkg.github.com/
@userzoom:registry=https://nexus.userzoom.com/repository/userzoom-npm/
@geniuz:registry=https://nexus.userzoom.com/repository/userzoom-npm/
@gearz:registry=https://nexus.userzoom.com/repository/userzoom-npm/
@userzoom-themes:registry=https://nexus.userzoom.com/repository/userzoom-npm/
@utils:registry=https://nexus.userzoom.com/repository/userzoom-npm/
always-auth=true
//nexus.userzoom.com/repository/sourcing/:_authToken={{ (onepasswordDetailsFields "eazb5wgasnb55acum32xupszbq").credential.value }}
//npm.pkg.github.com/:_authToken={{ (onepasswordDetailsFields "2qaegfeerzcudgbx5zmdjtcjeu").credential.value }}
