{{- onepasswordDocument "fk3xdum2gbw3ldkw4nmyfscbai" -}}
@intellizoomplatform:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken={{ (onepasswordItemFields "2qaegfeerzcudgbx5zmdjtcjeu").credential.v }}
