source "$HOME/.cargo/env"

# PATH
if [ -d "$HOME/bin" ] ; then
    PATH="$HOME/bin:$PATH"
fi

if [ -d "$HOME/.bin" ] ; then
    PATH="$HOME/.bin:$PATH"
fi

if [ -d "$HOME/.local/bin" ] ; then
    PATH="$HOME/.local/bin:$PATH"
fi

if [ -d "$HOME/.cargo/bin" ] ; then
    PATH="$HOME/.cargo/bin:$PATH"
fi

# precedence of homebrew apps over others
export PATH="/usr/local/bin:/usr/local/sbin:~/bin:$PATH"

# hides user@hostname in theme agnoster if the user is DEFAULT_USER
export DEFAULT_USER="leonh"

# default editor (chezmoi)
export EDITOR="micro"

# gpg key
export GPG_TTY=$(tty)

# userzoom keys and tokens
export GITHUB_ACCESS_TOKEN={{ (onepasswordDetailsFields "2qaegfeerzcudgbx5zmdjtcjeu").credential.value }}

# userzoom env variables
export PX_PATH=/Users/leonh/uz
export SE_PATH=/Users/leonh/uz
export INFRASTRUCTURE_PATH=/Users/leonh/uz/local-environment

# userzoom krew
export PATH="${PATH}:${HOME}/.krew/bin"

# go
export GOPATH="$HOME/go"
export PATH="$(go env GOPATH)/bin:$PATH"

# nvm
export NVM_DIR="$HOME/.nvm"
    [ -s "$(brew --prefix)/opt/nvm/nvm.sh" ] && . "$(brew --prefix)/opt/nvm/nvm.sh" # This loads nvm
    [ -s "$(brew --prefix)/opt/nvm/etc/bash_completion.d/nvm" ] && . "$(brew --prefix)/opt/nvm/etc/bash_completion.d/nvm" # This loads nvm bash_completion
