#!/bin/bash

source {{ joinPath .chezmoi.sourceDir "lib/utils.sh" }}
source ~/.zprofile

p_header "- Installing Node 14"
# Create nvm working directory if it doesn't already exist
mkdir -p ~/.nvm
nvm install 18
nvm use node
[[ $? ]] && p_success "Done"

# npm list -g --depth 0
p_header "- Installing global Node packages"
npm install --global \
    npm-check-updates \
    typescript \
    typeync
[[ $? ]] && p_success "Done"
