#!/bin/bash

source {{ joinPath .chezmoi.sourceDir "lib/utils.sh" }}

p_header "- Setting up cron jobs"

crontab -r
crontab - <<EOF
30 9 * * * $HOME/bin/cronjob_backup >> $HOME/.cron.backup.log
45 9 * * * $HOME/bin/cronjob_update >> $HOME/.cron.update.log
EOF

[[ $? ]] && p_success "Done"
