#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

source {{ joinPath .chezmoi.sourceDir "lib/utils.sh" }}

if ! type_exists 'brew'; then
    p_header "Installing Homebrew"
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    [[ $? ]] && p_success "Done"
fi

p_header "- Updating Homebrew"
brew update
[[ $? ]] && p_success "Done"

p_header "- Upgrading existing cask and formulae"
brew upgrade
[[ $? ]] && p_success "Done"

# gnu-units, golangci-lint, goreleaser, xz
# vagrant, minikube, packer
# grammarly, unarchiver
# tomighty (pomodoro), nordvpn cli
# https://github.com/cheat/cheat
# alacritty, zellij

p_header "- Installing missing brews and casks"
brew bundle --no-lock --file=- <<EOF
popcorn = "popcorn-official/popcorn-desktop"
tap "homebrew/cask-fonts"
tap popcorn, "https://github.com/#{popcorn}.git"
brew "awscli"
brew "awscurl"
brew "bat"
brew "borgbackup"
brew "chezmoi"
brew "choose-rust"
brew "cmake"
brew "diff-so-fancy"
brew "dockutil"
brew "exa"
brew "ffmpeg"
brew "fzf"
brew "gh"
brew "gist"
brew "git"
brew "git-lfs"
brew "git-secrets"
brew "gnupg"
brew "go"
brew "golangci-lint"
brew "helm@2"
brew "hugo"
brew "jq"
brew "k9s"
brew "kind"
brew "kubectx"
brew "kubernetes-cli"
brew "micro"
brew "ninja"
brew "nvm"
brew "p7zip"
brew "pandoc"
brew "pgcli"
brew "postgresql"
brew "qt"
brew "ripgrep"
brew "rpm"
brew "rustup"
brew "sqlite"
brew "stockfish"
brew "the_silver_searcher"
brew "thefuck"
brew "tokei"
brew "wabt"
brew "wallpaper"
brew "wireshark"
brew "youtube-dl"
cask "1password"
cask "amethyst"
cask "anki"
cask "calibre"
cask "docker"
cask "firefox"
cask "font-jetbrains-mono"
cask "gitkraken"
cask "google-chrome"
cask "graphql-playground"
cask "insomnia"
cask "iterm2"
cask "karabiner-elements"
cask "mongodb-compass"
cask "nosql-workbench"
cask "postman"
cask "robo-3t"
cask "slack"
cask "spotify"
cask "tunnelblick"
cask "typora"
cask "vlc"
cask "visual-studio-code"
cask "whatsapp"
cask "zoom"
EOF
[[ $? ]] && p_success "Done"

p_header "- Clean up"
brew cleanup
[[ $? ]] && p_success "Done"

{{ end -}}
