#!/bin/bash

source {{ joinPath .chezmoi.sourceDir "lib/utils.sh" }}

# List all vscode extensions:
# code --list-extensions

p_header "- Setting up VSCode extensions"

extensions=(
    #cssho.vscode-svgviewer
    #denoland.vscode-deno
    #ianjsikes.md-graph
    #tchayen.markdown-links
    42Crunch.vscode-openapi
    DigitalBrainstem.javascript-ejs-support
    GraphQL.vscode-graphql
    GraphQL.vscode-graphql-syntax
    Gruntfuggly.todo-tree
    PKief.material-icon-theme
    Tyriar.sort-lines
    alefragnani.Bookmarks
    bierner.markdown-mermaid
    christian-kohler.path-intellisense
    coolbear.systemd-unit-file
    dbaeumer.vscode-eslint
    dtsvet.vscode-wasm
    eamodio.gitlens
    esbenp.prettier-vscode
    foam.foam-vscode
    golang.go
    gordonlarrigan.vscode-kanbn
    hashicorp.terraform
    jeppeandersen.raml
    jsartelle.web-clipper
    kortina.vscode-markdown-notes
    marp-team.marp-vscode
    mikestead.dotenv
    ms-azuretools.vscode-docker
    ms-kubernetes-tools.vscode-kubernetes-tools
    ms-python.isort
    ms-python.python
    ms-python.vscode-pylance
    ms-toolsai.jupyter
    ms-toolsai.jupyter-keymap
    ms-toolsai.jupyter-renderers
    ms-toolsai.vscode-jupyter-cell-tags
    ms-toolsai.vscode-jupyter-slideshow
    ms-vscode-remote.remote-containers
    ms-vscode.makefile-tools
    mushan.vscode-paste-image
    plex.vscode-protolint
    redhat.vscode-yaml
    richie5um2.vscode-sort-json
    rohit-gohri.format-code-action
    rust-lang.rust-analyzer
    serayuzgur.crates
    sidneys1.gitconfig
    streetsidesoftware.code-spell-checker
    tamasfe.even-better-toml
    tomoki1207.pdf
    vadimcn.vscode-lldb
    yzhang.markdown-all-in-one
    zxh404.vscode-proto3
)

for extension in ${extensions[@]}; do
    code --force --install-extension $extension
done

[[ $? ]] && p_success "Done"
