#!/bin/bash

source {{ joinPath .chezmoi.sourceDir "lib/utils.sh" }}

mkdir "$HOME/.cron"

p_header "- Setting up user cron jobs"

crontab -r

crontab - <<EOF
45 9 * * *   $HOME/bin/cronjob_update >> $HOME/.cron/update.log
EOF

crontab -l

[[ $? ]] && p_success "Done"
