#!/bin/bash

source {{ joinPath .chezmoi.sourceDir "lib/utils.sh" }}

# List all vscode extensions:
# code --list-extensions

p_header "- Setting up VSCode extensions"

extensions=(
    #cssho.vscode-svgviewer
    #dbaeumer.vscode-eslint
    #denoland.vscode-deno
    #ianjsikes.md-graph
    #mikestead.dotenv
    #ms-python.python
    #philipbe.theme-gray-matter
    #ronnidc.nunjucks
    #tchayen.markdown-links
    #vadimcn.vscode-lldb
    bungcip.better-toml
    christian-kohler.path-intellisense
    dtsvet.vscode-wasm
    eamodio.gitlens
    esbenp.prettier-vscode
    foam.foam-vscode
    golang.go
    Gruntfuggly.todo-tree
    kortina.vscode-markdown-notes
    matklad.rust-analyzer
    ms-azuretools.vscode-docker
    ms-toolsai.jupyter
    PKief.material-icon-theme
    serayuzgur.crates
    streetsidesoftware.code-spell-checker
    Tyriar.sort-lines
    yzhang.markdown-all-in-one
)

for extension in ${extensions[@]}; do
	code --force --install-extension $extension
done

[[ $? ]] && p_success "Done"
