{{- $machineTypes := list "personal" "work" -}}
{{- $machine := promptChoiceOnce . "machine" "What type of machine" $machineTypes -}}

{{- $personalOpVault := promptStringOnce .personal.op "vault" "Personal 1Password vault name" "Personal" -}}

{{- $workEmail := "" -}}
{{- $workGithub := "" -}}
{{- $workOpAccount := "" -}}
{{- $workOpVault := "" -}}

{{- if eq $machine "work" -}}
{{- $workEmail = promptStringOnce .work "email" "Work email address" -}}
{{- $workGithub = promptStringOnce .work "github" "Work GitHub username" -}}
{{- $workOpAccount = promptStringOnce .work.op "account" "Work 1Password account shorthand" -}}
{{- $workOpVault = promptStringOnce .work.op "vault" "Work 1Password vault name" "Private" -}}
{{- end -}}

[data]
  machine = {{ $machine | quote }}

[data.personal]
  name = "léon h"
  email = "hello@leonh.fr"
  github = "leonhfr"

[data.personal.op]
  account = "my"
  vault = {{ $personalOpVault | quote }}
  ssh_public_key = "op://{{ $personalOpVault }}/GitHub SSH Key/public key"
  ssh_private_key = "op://{{ $personalOpVault }}/GitHub SSH Key/private key"
  chezmoi_token = "op://{{ $personalOpVault }}/chezmoi GitHub API Token/credential"

[data.work]
  name = "Léon Hollender"
  email = {{ $workEmail | quote }}
  github = {{ $workGithub | quote }}

[data.work.op]
  account = {{ $workOpAccount | quote }}
  vault = {{ $workOpVault | quote }}
  ssh_public_key = "op://{{ $workOpVault }}/GitHub SSH Key/public key"
  ssh_private_key = "op://{{ $workOpVault }}/GitHub SSH Key/private key"
  chezmoi_token = "op://{{ $workOpVault }}/chezmoi GitHub API Token/credential"

[hooks.read-source-state.pre]
  command = ".local/share/chezmoi/bin/.install-prerequisites.sh"
