# XDG
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache

# antidote
HIST_STAMPS="yyyy-mm-dd"

autoload -Uz compinit && compinit

source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
antidote load

# options
setopt prompt_subst
setopt autocd
setopt histignorespace

# prompt
export DEFAULT_USER={{ .chezmoi.username }}

# env
export GPG_TTY=$(tty)
{{ $machineOp := eq .machine "work" | ternary .work.op .personal.op -}}
export CHEZMOI_GITHUB_ACCESS_TOKEN={{ onepasswordRead $machineOp.chezmoi_token $machineOp.account }}

# aliases
alias gt="git town"
alias m="mise"
alias mr="mise run"
alias cat="bat"
alias ls="eza"
alias z="zed"
alias cdd="cd `pwd`"
alias cc="claude"
alias td="tree -d"
alias tree2="tree -d -L 2"
alias tree3="tree -d -L 3"
alias tree4="tree -d -L 4"

alias rgi="rg -i"
alias rgv="rg -v"
alias rgvi="rg -vi"
alias rggo="rg -tgo -F -g '!vendor/'"
alias rgmd="rg -tmarkdown"

alias ..="cd .."
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"

export LESS=-RFX

eval $(thefuck --alias)

{{ if eq .machine "work" -}}
[[ -f "$HOME/.zshrc_work.zsh" ]] && source "$HOME/.zshrc_work.zsh"
{{ end -}}
