# XDG
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache

# antigen

export ZSH_CACHE_DIR="$XDG_CACHE_HOME/oh-my-zsh"
mkdir -p "$ZSH_CACHE_DIR/completions"

HIST_STAMPS="yyyy-mm-dd"

source "$HOME/.antigen/antigen.zsh"

antigen use oh-my-zsh

antigen bundle chezmoi                              # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/chezmoi
antigen bundle djui/alias-tips                      # https://github.com/djui/alias-tips
antigen bundle gh                                   # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/gh
antigen bundle git                                  # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/git
antigen bundle golang                               # https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/golang
antigen bundle zlsun/solarized-man                  # https://github.com/zlsun/solarized-man
antigen bundle zsh-users/zsh-syntax-highlighting    # https://github.com/zsh-users/zsh-syntax-highlighting

antigen theme agnoster
antigen apply

# options
setopt prompt_subst
setopt autocd
setopt histignorespace

# prompt
export DEFAULT_USER={{ .chezmoi.username }}

# env
export GPG_TTY=$(tty)
{{ $machineOp := eq .machine "work" | ternary .work.op .personal.op -}}
export CHEZMOI_GITHUB_ACCESS_TOKEN={{ onepasswordRead $machineOp.chezmoi_token $machineOp.account }}

# aliases
alias gt="git town"
alias m="mise"
alias mr="mise run"
alias cat="bat"
alias ls="eza"
alias z="zed"
alias cdd="cd `pwd`"
alias cc="claude"
alias td="tree -d"
alias tree2="tree -d -L 2"
alias tree3="tree -d -L 3"
alias tree4="tree -d -L 4"

alias rgi="rg -i"
alias rgv="rg -v"
alias rgvi="rg -vi"
alias rggo="rg -tgo -F -g '!vendor/'"
alias rgmd="rg -tmarkdown"

alias ..="cd .."
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"

export LESS=-RFX

eval $(thefuck --alias)

{{ if eq .machine "work" -}}
[[ -f "$HOME/.zshrc_work.zsh" ]] && source "$HOME/.zshrc_work.zsh"
{{ end -}}
