eval "$(/opt/homebrew/bin/brew shellenv)"

# PATH
[ -d "$HOME/bin" ]        && PATH="$HOME/bin:$PATH"
[ -d "$HOME/.bin" ]       && PATH="$HOME/.bin:$PATH"
[ -d "$HOME/.local/bin" ] && PATH="$HOME/.local/bin:$PATH"
[ -d "$HOME/.cargo/bin" ] && PATH="$HOME/.cargo/bin:$PATH"
export PATH

# hides user@hostname in theme agnoster if the user is DEFAULT_USER
export DEFAULT_USER={{ .chezmoi.username }}

export EDITOR="micro"
export GPG_TTY=$(tty)
