fpath+=("$(brew --prefix)/share/zsh/site-functions")
eval "$(/opt/homebrew/bin/brew shellenv)"

# XDG
export XDG_DATA_HOME=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache

# PATH
[ -d "$HOME/.local/bin" ] && PATH="$HOME/.local/bin:$PATH"
[ -d "$HOME/.cargo/bin" ] && PATH="$HOME/.cargo/bin:$PATH"
[ -d "/opt/homebrew/opt/libpq/bin" ] && PATH="/opt/homebrew/opt/libpq/bin:$PATH"
export PATH

export LANG=en_US.UTF-8
export EDITOR="micro"
export LESS=FRX
export PAGER=less

export RIPGREP_CONFIG_PATH="$XDG_CONFIG_HOME/ripgrep/config"
export TLRC_CONFIG="$XDG_CONFIG_HOME/tlrc/config.toml"

# shellcheck disable=SC2155
export GPG_TTY=$(tty)
# {{ $machineOp := eq .machine "work" | ternary .work.op .personal.op -}}
# shellcheck disable=SC2154
export CHEZMOI_GITHUB_ACCESS_TOKEN="{{ onepasswordRead $machineOp.chezmoi_token $machineOp.account }}"

# Added by OrbStack: command-line tools and integration
# This won't be added again if you remove it.
# shellcheck disable=SC1090
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
