{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# weekly: {{ now | date "2006-W01" }}

if [ ! -d "${HOME}/.config/cheat/cheatsheets/community" ]; then
    echo "[dotfiles] Cloning cheat community cheatsheets"
    git clone https://github.com/cheat/cheatsheets "${HOME}/.config/cheat/cheatsheets/community"
else
    echo "[dotfiles] Updating cheat community cheatsheets"
    git -C "${HOME}/.config/cheat/cheatsheets/community" pull
fi

{{ end -}}
