[default-long-term]
aws_access_key_id = {{ (onepasswordItemFields "mgjlbgynirfu7jloxsaryqnrey").credential.v }}
aws_secret_access_key = {{ (onepasswordItemFields "msc5zkzuw5cklohc43aqxujphi").credential.v }}
aws_mfa_device = {{- onepasswordDocument "a34hyaks4nzrvqgbtxa7hflhdu" -}}

[default]
aws_access_key_id = {{ (onepasswordItemFields "mgjlbgynirfu7jloxsaryqnrey").credential.v }}
aws_secret_access_key = {{ (onepasswordItemFields "msc5zkzuw5cklohc43aqxujphi").credential.v }}
region = eu-west-1

[intellizoom-dev]
role_arn = {{- onepasswordDocument "nihxucup3u7rfquo3lluvvjx7i" -}}
source_profile = default
