{{- $base := include ".chezmoitemplates/claude_settings.json" | fromJson -}}
{{- $machine := dict -}}
{{- if eq .machine "work" -}}
{{-   $machine = include ".chezmoitemplates/encrypted_claude_settings_work.json" | fromJson -}}
{{- else if eq .machine "personal" -}}
{{-   $machine = include ".chezmoitemplates/claude_settings_personal.json" | fromJson -}}
{{- end -}}
{{- $merged := deepCopy $base -}}
{{- template "claude_settings_deepmerge.tmpl" (list $merged $machine) -}}
{{ $merged | toPrettyJson }}
