{{- $base := include ".chezmoitemplates/claude_settings.json" | fromJson -}}
{{- if eq .machine "work" -}}
{{-   $work := include ".chezmoitemplates/encrypted_claude_settings_work.json" | fromJson -}}
{{-   $base = mergeOverwrite $base $work -}}
{{- end -}}
{{ $base | toPrettyJson }}
