[user]
  name = {{ .git.name }}
  email = {{ .git.email }}
  signingkey = {{ onepasswordRead .op.personal.ssh_public_key }}

[core]
  editor = micro
  autocrlf = input
  excludesfile = ~/git/ignore
  whitespace = trailing-space,space-before-tab
  pager = diff-so-fancy | less --tabs=4 -RFX

[branch]
  sort = -committerdate

[column]
  ui = auto

[diff]
  algorithm = histogram
  colorMoved = plain

[merge]
  conflictStyle = zdiff3

[pager]
  branch = false
  grep = false

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[init]
  defaultBranch = main

[pull]
  rebase = true

[push]
  autoSetupRemote = true

[fetch]
  prune = true

[alias]
  configs = config --list --show-origin
  hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]' --abbrev-commit --date=relative
  append = town append
  continue = town continue
  delete = town delete
  diff-parent = town diff-parent
  down = town down
  hack = town hack
  prepend = town prepend
  propose = town propose
  rename = town rename
  set-parent = town set-parent
  ship = town ship
  sync = town sync
  up = town up

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

{{ if eq .chezmoi.os "darwin" -}}
[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true
{{ end -}}

[url "git@github.com:{{ .git.github }}/"]
  insteadOf = https://github.com/{{ .git.github }}/

{{- $ghPath := lookPath "gh" -}}
{{ if $ghPath -}}
[credential "https://github.com"]
  helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
  helper = !{{ $ghPath }} auth git-credential
{{ end -}}
