{{- $user := ternary .work .personal (eq .machine "work") -}}
{{ template "git-user" $user -}}

[core]
  editor = micro
  autocrlf = input
  excludesFile = ~/.config/git/ignore
  whitespace = trailing-space,space-before-tab
  pager = delta

[branch]
  sort = -committerdate
  autoSetupRebase = always

[column]
  ui = auto

[interactive]
  diffFilter = delta --color-only --features=interactive

[rerere]
  enabled = true

[delta]
  navigate = true
  dark = true
  features = side-by-side line-numbers decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[diff]
  algorithm = patience
  compactionHeuristic = true
  colorMoved = zebra

[merge]
  conflictStyle = zdiff3

[grep]
  extendedRegexp = true
  lineNumber = true

[pager]
  branch = false
  grep = false
  reflog = delta
  show = delta
  tool = difft

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[init]
  defaultBranch = main

[pull]
  rebase = true

[push]
  autoSetupRemote = true
  default = current

[checkout]
  defaultRemote = origin

[fetch]
  prune = true

[alias]
  configs = config --list --show-origin
  hist = log --graph --pretty=format:'%Cred%h%Creset %s%C(yellow)%d%Creset %Cgreen(%cr)%Creset [%an]' --abbrev-commit --date=relative
  lt = describe --tags --abbrev=0 # latest tag on current commit

  dl = "!git --no-pager -c diff.external=difft log -p --no-prefix --ext-diff"
  ds = "!git --no-pager -c diff.external=difft show --ext-diff"
  dd = "!git --no-pager -c diff.external=difft diff --ext-diff"

  dnl = "!git -c pager.log=diffnav log"
  dns = "!git -c pager.show=diffnav show"
  dnd = "!git -c pager.diff=diffnav diff"

  append = town append
  continue = town continue
  delete = town delete
  diff-parent = town diff-parent
  down = town down
  hack = town hack
  prepend = town prepend
  propose = town propose
  rename = town rename
  set-parent = town set-parent
  ship = town ship
  sync = town sync
  up = town up

[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f

{{ if eq .chezmoi.os "darwin" -}}
[gpg]
  format = ssh

[commit]
  gpgsign = true

[tag]
  gpgsign = true
{{ end -}}

{{ if eq .machine "work" -}}
[url "git@github-personal:{{ .personal.github }}/"]
  insteadOf = git@github.com:{{ .personal.github }}/

[url "git@github-personal:{{ .personal.github }}/"]
  insteadOf = https://github.com/{{ .personal.github }}/

[includeIf "hasconfig:remote.*.url:git@github-personal:**"]
  path = ~/.config/git/personal

[includeIf "hasconfig:remote.*.url:https://github.com/{{ .personal.github }}/**"]
  path = ~/.config/git/personal
{{ end -}}
[url "git@github.com:"]
  insteadOf = https://github.com/
{{ $ghPath := lookPath "gh" -}}
{{ if $ghPath -}}
[credential "https://github.com"]
  helper = !{{ $ghPath }} auth git-credential
[credential "https://gist.github.com"]
  helper = !{{ $ghPath }} auth git-credential
{{ end -}}
