editor: micro
colorize: true
style: monokai
formatter: terminal16m
pager: less --tabs=4 -RFX

cheatpaths:
  - name: personal
    path: "{{ .chezmoi.homeDir }}/.config/cheat/cheatsheets/personal"
    tags: [personal]
    readonly: false

  - name: work
    path: "{{ .chezmoi.homeDir }}/.config/cheat/cheatsheets/work"
    tags: [work]
    readonly: false

  - name: community
    path: "{{ .chezmoi.homeDir }}/.config/cheat/cheatsheets/community"
    tags: [community]
    readonly: true
